body {
  font-family: 'Montserrat', sans-serif;
  padding: 70px;
  background: url(https://images.unsplash.com/photo-1542903660-eedba2cda473?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)no-repeat center center fixed;



}
.navbar {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.2em;
	color: white;
	background-color: #07629e;
	border-bottom: 1px solid white;
}
img {
  width: 200px;

}


#landingpage {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 0.2em;
	margin-top: 35%;
    margin-bottom: 100%;
	position: center;
	text-align: center;
	font-size: 20px;
    color: white;

}
a {
    color: white;
    font-size: 30px;
}

h1, h4 {
	color: white;
	text-shadow: 0px 4px 3px rgb(0,0,0,0.4),
				 0px 8px 13px darkgrey,
				 0px 18px 23px black;
}

hr {
	width: 50%;
	max-width: 275px;
	border: 0;
	height: 0; /* Firefox... */
	box-shadow: 0 0 10px 1px white;
}

hr.style-five:after {
/* Not really supposed to work, but does */
	content: "\00a0";
/* Prevent margin collapse */
 }

.row2 {
 	font-family:  'Montserrat', sans-serif;
 	font-weight: 400;
 	color: white;
 	border: 1px solid white;
 	padding: 25px;
 	background: rgba(0,0,0,0.6);
    max-width: 550px;
    margin: auto;

 }

 /*HIER ONDER KOMT DE FOOTER */
 /*FOOTER*/
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
 body{
 width: 100%;
 overflow-x:hidden;
 font-family: "Open Sans";
 }
 h2{
 	text-align: center;
 	padding-top: 20px;
 }

 .row{
 	padding-top: 30px;
 	text-align: center;
 }
 footer p{
 line-height: 1.6;
 font-family: "Open Sans";

 }
 footer{
 color:#fff;
 background-color: rgba(0,0,0,0.6);
 padding: 5px 0;
 background-position:bottom;
 border-top: white;
 border-left: white;
 border-right: white;
 }


.copyright a{
 	color: #fff;
 	font-size: 18px;
 	text-decoration-line: none;

 }
 /*ul li a:hover,.copyright a{
 	color: #196F3D;
 	text-decoration-line: none;
 }*/
 footer .icon{
 	text-align: center;
 	padding-bottom: 30px;
 }
 footer .icon .fa{
 	padding: 10px;
 	font-size: 50px;
 	padding-right: 40px;
 	color: #fff;
 }

 .copyright{
 	padding: 0;
 	margin: 0;
 	text-align: center;
 	background: #000;
 	color: #fff;
 }
 .copyright p{
 	color: #fff;
 	text-align: center;
 	padding: 20px;
 	margin: 0;
 }
 @media(max-width: 768px){
 	.col-sm-6,footer .icon{
 		padding-top: 20px;
 	}
 }
 @media(max-width: 575px){
 	ul,h3{
 		padding-top: 10px;
 		letter-spacing: 1px;
 	}
 }
 @media(max-width:442px){
 	.icon .fa{
 		font-size:
 	}
 	footer .icon .fa{
 		font-size: 35px;
 		padding-right: 30px;
 	}
 }
 @media(max-width: 348px){
 	footer .icon .fa{
 		font-size: 35px;
 		padding-right: 20px;
 	}
 }
